@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Horror Theme Custom Styles */

[x-cloak] {
    display: none !important;
}

@layer base {
    body {
        @apply bg-black text-gray-100;
        /* color: #f8f8f8; */
        font-family: "Figtree", sans-serif;
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
}

@layer components {
    .horror-title {
        font-family: "Creepster", cursive;
    }

    .horror-text {
        font-family: "Special Elite", cursive;
    }

    .blood-red {
        @apply text-red-800;
    }

    .movie-card-aspect {
        @apply aspect-[16/9];
    }

    .nav-link {
        @apply relative transition-all duration-300;
    }

    .nav-link:after {
        content: "";
        @apply absolute w-0 h-0.5 bottom-0 left-0 bg-red-800 transition-all duration-300;
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        transition: width 0.3s ease;
    }

    .nav-link:hover:after {
        @apply w-full;
    }

    .nav-link:hover {
        @apply text-red-800;
        color: #b91c1c;
    }

    .thick-border {
        @apply border-gray-300;
    }

    .light-border {
        border-color: #2d2d2d;
    }
}
